In [0]:
def get_all_tables_from_database(database):
    """
      param database: Database in which you want the tables
      return: Dataframe with all database tables in List format
    """
    all_tables = spark.sql(f'show tables from {database}')
    all_tables = all_tables.drop('database', 'isTemporary')
    return all_tables.select("tableName").rdd.flatMap(lambda x: x).collect()
  
get_all_tables_from_database('db_case')

Out[4]: ['tabela_1', 'tabela_2', 'tabela_3']